$start: 1;
$end: 113%;
$el: zoom;
$speed: ease-out;
$inf: infinite;

@mixin header-zoom($seconds){
  animation: zoom-anim $speed $seconds;
  animation-iteration-count: $inf;
  //transform-origin: 50% 50%;
  -webkit-animation: zoom-anim $speed $seconds;
  -webkit-animation-iteration-count: $inf;
  //-webkit-transform-origin: 50% 50%;
  -moz-animation: zoom-anim $speed $seconds;
  -moz-animation-iteration-count: $inf;
  //-moz-transform-origin: 50% 50%;
  -o-animation: zoom-anim $speed $seconds;
  -o-animation-iteration-count: $inf;
  //-o-transform-origin: 50% 50%;
  -ms-animation: zoom-anim $speed $seconds;
  -ms-animation-iteration-count: $inf;
  //-ms-transform-origin: 50% 50%;
}

@keyframes zoom-anim{
  0% {
    $el: $start;
  }
  50% {
    $el: $end;
  }
  100% {
    $el: $start;
  }
}

@-moz-keyframes zoom-anim{
  0% {
    $el: $start;
  }
  50% {
    $el: $end;
  }
  100% {
    $el: $start;
  }
}

@-webkit-keyframes zoom-anim {
  0% {
    $el: $start;
  }
  50% {
    $el: $end;
  }
  100% {
    $el: $start;
  }
}

@-o-keyframes zoom-anim {
  0% {
    $el: $start;
  }
  50% {
    $el: $end;
  }
  100% {
    $el: $start;
  }
}

@-ms-keyframes zoom-anim {
  0% {
    $el: $start;
  }
  50% {
    $el: $end;
  }
  100% {
    $el: $start;
  }
}