.category-image-row {
    .col {
        min-height: 250px;
    }
}

.taxonomy-archive-description {
    display: none;
}

.category-image {
    background-size: 100% 100%;
    background-position: cover;
}

.term-description {
    display: none;
}
.page-template-mill-types,
.tax-product_cat,
.woocommerce-cart  {
    padding-top: 4rem;
}

.woocommerce-page .breadcrumb {
    display: none;
}