.category-image-row {
    .col {
        min-height: 250px;
    }
}

.taxonomy-archive-description {
    display: none;
}

.category-image {
    background-size: 100% 100%;
    background-position: cover;
}

.term-description {
    display: none;
}
.page-template-mill-types,
.tax-product_cat,
.woocommerce-cart  {
    padding-top: 4rem;
}

.page-template-front-page .breadcrumb,
.woocommerce-page .breadcrumb {
    display: none;
}
.woocommerce-cart,
.woocommerce-checkout {
    @include bp(xs){
        padding-top: 8rem;
    }
}
.woocommerce table.shop_table {
    font-size: 1.5rem;
}