.form-template-container {
    max-width: 85vw;
    margin: 0 auto;
    padding-top: 8rem;
    input,
    select,
    textarea {
        padding: .8rem;
        background: rgba(189, 189, 189, 0.4);
        border: 0;
        margin-bottom: 1rem;
    }
    textarea {
        min-height: 10rem;
    }
    label {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 900;
        color: #333;
    }
    input[type="submit"] {
        background: $red;
        color: #fff;
    }
    .form-wrapper {
        padding: 2rem;
    }
}
