@import '../colors';
.page-template-mill-types {
    section {
        margin-bottom: 3rem;
    }
    article.hidden {
        display: none;
    }
    #mill-types-header {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        min-height: 300px;
        max-height: 300px;
        h2 {
            text-align: center;
            margin: 0 auto;
            color: $white;
            font-size: 5rem;
        }
    }
    #mill-focus,
    #mill-types {
        max-width: 1200px;
        margin: 0 auto;
    }
    #mill-focus {
        article.focus-item {
            padding: 5rem;
            h3 {
                color: $red;
            }
        }
    }
    #mill-types {
        div.mill-type {
            img {
                max-height: 200px;
                margin: 0 auto;
                display: block;
                margin-bottom: 2rem;
            }
        }
        h3.mill-type {
            text-align: center;
            color: $red;
            font-size: 3rem;
        }
    }
}

@media screen and (max-width: 1140px) {
    #mill-focus,
    #mill-types {
        max-width: 960px;
    }
}

@media screen and (max-width: 960px) {
    #mill-focus,
    #mill-types {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {
    #mill-focus,
    #mill-types {
        max-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    #mill-focus,
    #mill-types {
        max-width: 560px;
    }
}