.post-type-archive-product .site-inner,
.archive.tax-product_cat .site-inner {
    position: relative;
    @include bp(lg){
        max-width: 85vw;
        margin: 0 auto;
    }
    .archive-description, .author-box {
        background-color: transparent;
    }
    .woocommerce-breadcrumb {
        padding-left: 0 !important;
    }
    .woocommerce main#genesis-content {
        padding: 0 !important;
    }
    .custom-products {
        max-width: 70vw;
        margin: 0 auto;
    }
    ul.products li.product {
        background: transparent;
        box-shadow: none;
        flex: 1;
        -webkit-box-flex:1; 
        -webkit-flex:1;
        position: relative;
        float: none;
        margin: 1rem;
        max-width: 200px;
        text-align: center;
        h3 {
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize;
        }
    }
    ul.products {
        display: flex;
        display: -webkit-flex;
        -webkit-flex: 1;
        flex: 1;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 12rem;
    }
}
.woo-product-img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
a.checkout-button.button.alt.wc-forward {
    line-height: 4rem;
}
.shop_table.shop_table_responsive.cart {
    border: 0;
}
.woocommerce .quantity .qty {
    font-size: 1.5rem;
}
.woocommerce table.shop_table td {
    border-top: 0 !important;
}
.woocommerce-page table.cart td.actions .coupon {
    margin-right: 1rem;
}
input#coupon_code {
    font-size: 2rem;
    height: 4.5rem;
    width: 18rem;
}
td.actions {
    padding-top: 4rem !important;
}