@import '../colors';
@import '../sizing';
$top-footer-height: 75px;
.top-footer {
    height: $top-footer-height;
    border-bottom: 1px solid white;
    h5 {
        line-height: $top-footer-height;
    }
}

.site-footer {
    padding: 0;
    font-size: 12px;
    z-index: 9999;
    position: relative;
    @include gradient-black;
    li {
        text-align: left;
    }
    p {
        line-height: 1.5;
    }
    a {
        text-decoration: none;
        color: $white;
        &:hover {
            color: $red;
        }
    }
    .row {
        @include max;
        .footer-logo {
            img {
                float: left;
                max-height: 45px;
                margin-top: 35px;
                margin-bottom: 10px;
            }
        }
        .col {
            h5 {
                color: $white;
                font-size: 14px;
                font-size: 1.4rem;
                font-family: 'PT Sans', sans-serif;
                text-transform: uppercase;
            }
            ul {
                li {
                    color: $white;
                    font-size: 12px;
                    a {
                        color: $white;
                        text-decoration: none;
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
    .row.site-credits {
        p {
            float: left;
            color: $lightgray;
            text-align: left;
            a {
                color: #666;
                text-decoration: none;
                &:hover {
                    color: $red;
                }
            }
        }
        .social-media-icons {
            img {
                float: right;
                display: inline;
                height: 20px;
                width: 20px;
                margin-left: 8px;
            }
        }
    }
}

.tk-footer-link {
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: $red;
        }
    }
}

#menu-footer-resources {
    li {
        float: left;
        width: 33.3%;
        margin: 1px 0;
        text-align: center;
    }
    li:nth-child(3n + 3) {
        float: right;
    }
    li:last-child {
        float: right;
    }
}

@media screen and (max-width: 993px) {
    .site-footer {
        .row {
            .footer-logo {
                img {
                    margin-top: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .site-footer {
        .row {
            ul {
                text-align: center;
                margin-bottom: 1em;
                li {
                    text-align: center;
                }
            }
            .top-footer {
                margin-bottom: 2em;
            }
            .footer-logo {
                margin-bottom: 0em;
                img {
                    margin-top: 15px;
                }
            }
        }
    }
}