@import '../colors';
@import '../sizing';
$top-footer-height: 75px;
.top-footer {
    height: $top-footer-height;
    border-bottom: 1px solid white;
    h5 {
        line-height: $top-footer-height;
    }
}

.site-footer {
    padding: 0;
    font-size: 12px;
    z-index: 9999;
    position: relative;
    @include gradient-black;
    p {
        line-height: 1.5;
    }
    a {
        text-decoration: none;
        color: $white;
        &:hover {
            color: $red;
        }
    }
    .row {
        @include max;
        .footer-logo {
            img {
                float: left;
                max-height: 45px;
                margin-top: 35px;
                margin-bottom: 10px;
            }
        }
        .col {
            h5 {
                color: $white;
                font-size: 14px;
                font-size: 1.4rem;
                font-family: 'PT Sans', sans-serif;
                text-transform: uppercase;
            }
            ul {
                li {
                    color: $white;
                    font-size: 12px;
                    a {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .row.site-credits {
        p {
            float: left;
            color: $lightgray;
            text-align: left;
            a {
                color: #666;
                text-decoration: none;
            }
        }
        .social-media-icons {
            img {
                float: right;
                display: inline;
                height: 20px;
                width: 20px;
                margin-left: 8px;
            }
        }
    }
}

.tk-footer-link {
    a {
        color: #fff;
        text-decoration: none;
    }
}

#menu-footer-resources {
    li {
        float: left;
        clear: left;
        width: 50%;
        margin: 1px 0;
    }
    li:nth-child(even){
        float: right;
        clear: right;
    }
}