@import '../colors';
header.site-header {
    background: $red;
    text-align: center;
    min-height: 100%;
    .wrap {
        //max-width: 100%;
        padding: 0;
        .row {
            margin-bottom: 0;
            p {
                margin-bottom: 0;
                font-size: 0.6em;
                font-weight: bold;
            }
        }
        hr {
            margin: 0 auto;
            max-width: 70%;
            opacity: 0.8;
        }
        .title-area {
            text-align: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            float: none;
            margin: 0 auto;
            width: 80%;
            .site-title {
                a {
                    img {
                        width: 100%;
                        max-width: 460px;
                        height: auto;
                        position: relative;
                        z-index: 101;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
            h2.site-description {
                display: none;
            }
        }
        .widget-area {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            text-align: center !important;
        }
    }
}

.header-container {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    @include t(0.2s);
}

.header-container-scrolled {
    width: 100%;
    z-index: 9999;
    @include t(0.2s);
    .site-header .wrap .title-area .site-title a img {
        width: 220px;
        height: auto;
        @include t(0.2s);
    }
    header.site-header {
        min-height: 0;
        @include t(0.2s);
    }
}

.nav-cart-icon {
    font-size: 2rem;
    vertical-align: middle;
}