@import '../colors';
$nav-height: 45px;
$nav-mobile: 100% !important;
$nav-black: rgba(0, 0, 0, 0.8);
$nav-black2: rgba(0, 0, 0, .5);
$sub-nav-height: 125px;
.nav-primary {
    background: $red;
    margin: 0 auto;
    height: 100%;
    margin: 0 auto;
    height: 100%;
    z-index: 9999;
    box-shadow: none;
    position: relative;
    @include t(0.2s);
    .wrap {
        height: $nav-height;
        @include t(0.2s);
        ul.genesis-nav-menu {
            height: $nav-height;
            margin: 0 auto;
            max-width: 768px;
            @include t(0.2s);
            li {
                height: $nav-height;
                font-weight: bold;
                @include t(0.2s);
                a {
                    padding-top: 16px;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    font-weight: bold;
                    font-family: $pts;
                    letter-spacing: 0.02em;
                    height: $nav-height;
                    color: $white;
                    text-decoration: none;
                    @include t(0.2s);
                    span {
                        color: $white;
                        font-weight: bold;
                        text-decoration: none;
                        @include t(0.2s);
                    }
                    &:hover {
                        text-decoration: none;
                        color: $yellow;
                        background: rgba(255, 255, 255, 0);
                        @include t(0.2s);
                    }
                }
                &.current-menu-item {
                    color: $yellow;
                    @include t(0.2s);
                    a {
                        color: $yellow !important;
                        @include t(0.2s);
                        span {
                            color: $yellow !important;
                            @include t(0.2s);
                        }
                    }
                }
                &:hover {
                    //background: rgba(255,255,255,0);
                    @include t(0.2s);
                }
                &:active {
                    border: 0px solid transparent;
                    @include t(0.2s);
                }
                ul.sub-menu {
                    background: $nav-black !important;
                    width: 100%;
                    margin: -2px auto 0 auto;
                    left: 0;
                    right: 0;
                    height: $sub-nav-height;
                    text-align: center;
                    @include t(0.2s);
                    li.menu-item {
                        background: transparent;
                        height: $sub-nav-height;
                        overflow: hidden;
                        text-align: center;
                        margin: 0;
                        float: none;
                        border: 0px solid transparent;
                        @include t(0.2s);
                        a {
                            color: white;
                            margin: 0;
                            border: 0px solid transparent;
                            background: transparent;
                            height: $sub-nav-height;
                            @include t(0.2s);
                            p {
                                color: $yellow;
                                font-weight: bold;
                                @include t(0.2s);
                            }
                            span {
                                color: white;
                                font-family: $slab;
                                font-size: 1.6em;
                                font-weight: 900;
                                letter-spacing: 0;
                                @include t(0.2s);
                            }
                        }
                        &:hover {
                            background: $nav-black2;
                            @include t(0.2s);
                        }
                        &:active {
                            @include t(0.2s);
                        }
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 768px) {
    .nav-primary {
        .wrap {
            height: $nav-mobile;
            ul.genesis-nav-menu {
                height: $nav-mobile;
                li {
                    height: $nav-mobile;
                    a {
                        height: $nav-mobile;
                        span {
                            height: $nav-mobile;
                        }
                    }
                }
            }
        }
    }
}

.button-collapse {
    i {
        color: $white;
        @include t(0.2s);
    }
}

.side-nav {
    background: $yellow;
    background-image: url(http://timberking.msaavedra.com/wp-content/uploads/woodbg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    @include t(0.2s);
    .widget_product_search {
        display: block !important;
    }
    .menu,
    .genesis-nav-menu {
        @include t(0.2s);
        ul {
            padding-top: 6rem;
            @include t(0.2s);
            li {
                display: block;
                border: 0px solid transparent;
                @include t(0.2s);
                a {
                    font-size: 2rem;
                    font-family: $slab;
                    text-decoration: none;
                    line-height: 2rem;
                    height: 4rem;
                    border: 0px solid transparent;
                    padding: 1rem 2rem;
                    @include t(0.1s);
                    &:hover {
                        background: transparent;
                    }
                }
                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                    border: 0px solid transparent;
                    @include t(0.1s);
                }
                &:active {
                    background: $red;
                    border: 0px solid transparent;
                    @include t(0.1s);
                    a {
                        color: $white;
                        @include t(0.1s);
                    }
                }
                &:focus {
                    border: 0px solid transparent;
                    outline-color: transparent !important;
                    @include t(0.2s);
                }
            }
        }
    }
}

.side-nav {
    padding: 2rem;
    .menu ul {
        padding-top: 2rem;
    }
    .menu li {
        padding: 1.5rem;
    }
    .menu li a {
        padding: 0 !important;
        height: auto !important;
    }
}
.mobile-search {
    max-width: 250px;
    margin: 0 auto;
    input {
        &:after {
            content: "";
            display: none;
        }
    }
}
.nav-primary .wrap ul.genesis-nav-menu {
    li.current-menu-item ul.sub-menu li.menu-item a,
    li.current-menu-item ul.sub-menu li.menu-item a span {
        color: #fff !important;
    }
}