@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
.gradient-black {
  background: #000000;
}
header.site-header {
  background: #dc2c00;
  text-align: center;
  min-height: 120px;
}
header.site-header .wrap {
  padding: 0;
}
header.site-header .wrap .row {
  margin-bottom: 0;
}
header.site-header .wrap .row p {
  margin-bottom: 0;
  font-size: 0.6em;
  font-weight: bold;
}
header.site-header .wrap hr {
  margin: 0 auto;
  max-width: 70%;
  opacity: 0.8;
}
header.site-header .wrap .title-area {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
header.site-header .wrap .title-area h1.site-title {
  text-align: center;
  min-height: 83px;
  width: 404px;
  margin: 0 auto;
}
header.site-header .wrap .title-area h1.site-title a {
  min-height: 83px;
  width: 404px;
  float: left;
}
