@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import 'css/base';
@import 'css/colors';
@import 'css/materialize.css';
@import 'css/style';
@import 'css/components/custom-product-page';
@import 'css/components/product-page';
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.woocommerce .woocommerce-breadcrumb {
    margin: 0 0 1em;
    font-size: .92em;
    color: #777;
    background: transparent;
    padding-left: 5rem !important;
    box-shadow: none;
}

.woocommerce {
    nav.woocommerce-pagination {
        background: $red;
        ul {
            border: 0px solid transparent;
            li {
                border: 0px solid transparent;
            }
        }
    }
    span.onsale {
        height: 3.236em;
        width: 3.236em;
        /* padding: .202em; */
        font-weight: 700;
        position: absolute;
        text-align: center;
        line-height: 3.236;
        top: -.5em;
        left: -.5em;
        margin: 0;
        border-radius: 100%;
        background-color: $yellow;
        color: $black;
        font-size: .857em;
        -webkit-font-smoothing: antialiased;
    }
    ul.products li.product .price {
        color: #666;
    }
}

div.breadcrumb {
    color: $black;
    padding: 1rem;
    span {
        color: $black;
    }
}