@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import 'css/base';
@import 'css/colors';
@import 'css/materialize.css';
@import 'css/style';
@import 'css/components/custom-product-page';

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.woocommerce .woocommerce-breadcrumb {
  margin: 0 0 1em;
  font-size: .92em;
  color: #777;
  background: transparent;
  padding-left: 5rem !important;
  box-shadow: none;
}