@import '../colors';

.woocommerce {
	main.content {
		padding: 1em 2em;
	}
	ul.products {
		width: 100%;
		padding: 0 2em !important;
		li {
			box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
			transition: 0.2s ease-out box-shadow;

			&:hover {
				box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
				transition: 0.2s ease-out box-shadow;
			}

			a {
				text-align: center; 

				img {}
				h3 {}
				span.price {
					span {
						color: $red;
						font-weight: bold;
					}
				}
			}
			a.add_to_cart_button {
				line-height: 45px;
			}
		}
	}
}