@import '../colors';
$utility-height: 25px;
.utility-bar {
    color: $black;
    font-size: 15px;
    font-size: 1.5rem;
    padding: 5px 0px 0px 0px;
    background: $red;
    height: $utility-height;
    margin-bottom: 0;
}

.utility-bar a {
    color: $white;
    text-decoration: none;
    padding-left: 1rem;
}

.utility-bar a:hover {
    text-decoration: underline;
}

.utility-bar-left,
.utility-bar-right {
    width: 50%;
    height: $utility-height;
}

.utility-bar-left {
    float: left;
}

.utility-bar-left p,
.utility-bar-right p {
    margin-bottom: 0;
    font-weight: bold;
    color: #fff;
}

.utility-bar-right {
    float: right;
    text-align: right;
    section {
        float: right;
    }
    .widget_product_search {
        margin-right: 10px;
        padding: 0px;
        width: auto;
        font-size: 15px;
        font-size: 1.5rem;
        border-radius: $utility-height;
        background: rgba(0, 0, 0, 0.2);
        form {
            height: $utility-height;
            input[type="search"],
            input[type="submit"] {
                height: $utility-height;
            }
            input[type="search"] {
                width: 80%;
                color: $black;
                font-size: 1.2em;
                font-weight: bold;
                padding: 0;
                //padding-left: 0.6em;
                background: transparent;
                border: 0px solid transparent;
                @include placeholder(transparent);
                &:focus {
                    border: 0px solid transparent;
                }
            }
            input[type="submit"] {
                display: none !important;
            }
            i.material-icons {
                float: none;
                position: relative;
                font-size: 2rem;
                line-height: 2.5rem;
                margin-right: 1rem;
            }
            input::-webkit-input-placeholder {
                color: transparent !important;
            }
            input:-moz-placeholder {
                color: transparent !important;
            }
            input::-moz-placeholder {
                color: transparent !important;
            }
            input:-ms-input-placeholder {
                color: transparent !important;
            }
        }
    }
}

@media screen and (max-width: 1201px) {
    .widget_product_search {
        margin-top: 6px;
    }
}

@media screen and (max-width: 992px) {
    .widget_product_search {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .utility-bar-left,
    .utility-bar-right {
        font-size: 11px;
        font-size: 1.1rem;
    }
    .utility-bar-left {}
    .utility-bar-right {
        width: 50%;
        .widget_text {}
        .widget_product_search {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    .header-contact {
        display: none;
    }
}

@media screen and (max-width: 417px) {
    .utility-bar-left {
        p {
            font-size: 8px;
            line-height: 2rem;
        }
    }
}